<div id="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1 style="color: black;">Registration</h1>
                        <h6 style="color: #2D9596;">Register to Login in account</h6>
                    </div>
    
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        
                            <div class="form-group">
                              <label for="userId" style="color: black">User Id</label>
                              <input formControlName="userId" type="email" style="border-radius: 13px;" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                              <label for="password" style="color: black;">Password</label>
                              <input formControlName="password" type="password" style="border-radius: 13px;" class="form-control" placeholder="Password">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="password" style="color: black;">Password</label>
                                <input formControlName="password" type="password" style="border-radius: 13px;" class="form-control" placeholder="Password">
                              </div>
                              <br>
                            
                            <!-- <button type="submit" class="btn btn-success">Login</button> -->
                            <button  type="submit" class="button-87" role="button">Login</button>
                            <br>
                            <p style="color: black;">Dont have an account ?
                                <a href="">Signup</a>
                            
                            </p>
                          
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
