<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Mobile Number</th>
          <th>Email</th>
          <th>Address</th>
          <th>Area</th>
          <th>Pincode</th>
          <th>Pick Up Day</th>
          <th>Time</th>
          <th>hjk</th>
          <th>hjk</th>
          <th>hjk</th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor = "let s of schedules">
          <td>{{s.id}}</td>
          <td>{{s.fullName}}</td>
          <td>{{s.mobileNumber}}</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
          <td>opl</td>
      </tr>
  </tbody>

</table>