<div class="row">
    <div class="col-8">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="">Courses</a>
                <a href="">Enquiry</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </div>
<button (click)="logout()" class="btn btn-warning">Logout</button>
<button (click)="getallUsers()">Users</button>

<br>
<div *ngIf = "username">
  <h3>Hello, {{ username }}!</h3>
</div>
<br>

<div *ngIf="users.length >0">
  <h2>User List</h2>
  <ul>
    <li *ngFor="let user of users">
      {{user.username}}
    </li>
  </ul>

</div>

