<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 style="color: white;">Login</h1>
                    <h6 style="color: #D0F288;">Login to View the Course Details</h6>
                </div>

                <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
                    
                        <div class="form-group">
                          <label for="userId" style="color: white">User Id</label>
                          <input formControlName="userId" type="email" style="border-radius: 13px;" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="password" style="color: white;">Password</label>
                          <input formControlName="password" type="password" style="border-radius: 13px;" class="form-control" placeholder="Password">
                        </div>
                        <br>
                        
                        <button type="submit" class="btn btn-success">Login</button>

                        <br>
                        <p style="color: aliceblue;">New User? Click 
                            <a href="">here</a>
                            to Register!
                        </p>
                      
                </form>
                
            </div>
        </div>
    </div>
</div>