.card{
    border:none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, rgba(133,58,180,1) 0%, rgba(253,77,29,1) 50%, rgba(252,231,69,1) 100%);
}

.card{
    h6{
        color: #fff
    }

    label{
        color: #fff
    }
}