<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 style="color: white;">Login</h1>
                    <h6>blah blah blah</h6>
                </div>

                <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
                    
                        <div class="form-group">
                          <label for="userId">Email address</label>
                          <input type="email" class="form-control" id="userId" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <br>
                        
                        <button type="submit" class="btn btn-success">Login</button>

                        <br>
                        <p>New User? Click 
                            <a href="">here</a>
                            to Register!
                        </p>
                      
                </form>
                
            </div>
        </div>
    </div>
</div>