#container {
    width:100vw;
    height:100vh;
    background-image: url(https://img.freepik.com/premium-vector/empty-black-color-studio-room-background-can-use-background-product-display_322958-1951.jpg);
    background-size:cover;
}
