<h2>Schedule Pick-Up</h2>

<form>
    <input>
    
    <input>
   
    <input>
    
    <input>
    
    <input>
    <input>

    <input>
    <input>

    <select>
        <Options></Options>
        <Options></Options>
        <Options></Options>
        <Options></Options>
        <Options></Options>
        <Options></Options>
        <Options></Options>
        <Options></Options>
        <Options></Options>
    </select>
    <label></label>
   
    <input>
    
    <button type="submit">Submit</button>
</form>