<!-- <h2>Schedule Pick-Up</h2>
         <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">

            <input type="text" required class="form-control">
            <input type="text" required class="form-control">
            <input type="text" required class="form-control">
            <input type="text" required class="form-control">
            <input type="text" required class="form-control">
            <input type="text" required class="form-control">
            <input type="time" required class="form-control">
            <input type="number" required class="form-control">
            <select name="" id="" required class="form-control">
                <Option></Option>
                <Option></Option>
                <Option></Option>
                <Option></Option>
                <Option></Option>
                <Option></Option>
                <Option></Option>
                <Option></Option>
            </select>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            <label for=""></label>
            
         <button type="submit">Submit</button>
        
        </form> -->