<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Area</th>
            <th>Pincode</th>
            <th>Pick Up Day</th>
            <th>Time</th>
            <th>hjk</th>
            <th>hjk</th>
            <th>hjk</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngForm = "let s of schedules">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

    <
</table>